body{
   background-color: purple;
   font-family: sans-serif;
   text-align: center;
   border: 3px solid yellow;
   font-size: 20px;
   background-image: url('https://images.unsplash.com/photo-1536080335162-ebc01000f8d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
   background-size:cover;
}
#quizboard{
   margin-left: 15px;
   background-color: blue;
   padding: 10px;
   border-radius: 25px;
 }
 #test{
display: none;
}
.begin{
cursor: pointer;
color: salmon;
font-size:25px;
}
}

.start:hover{
text-decoration: underline;
}
.jumbotron{
   color: red;
   font-style: oblique;
}
.well {
  color: purple;
}
.result{
display: none;
color: salmon;
}
  #button {
   background: green;
   border: none;
   border-radius: 7px;
   padding: 10px;
   color: 15px;
   color: white;
   transition-duration: .3s;
}
 #buttonhover{
    background: maroon;
    border: 2px solid grey;
    color: grey;
    cursor: pointer;
}
#image{
    width:auto;
    height: auto;
    float: right;
}
p{
   color: blue;
   font-style: italic;
}
h1{
   color :red;
   font-style: italic;
}
h2{
   color: purple;
}
