body{
   background-color: purple;
   font-family: sans-serif;
   text-align: center;
   border: 3px solid yellow;
   font-size: 20px;
   /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc-XoXRxkpjubAR8gzDL71uX_IhnPeZhfNNCTEUixzwOCO55w); */
}
#quizboard{
   margin-left: 15px;
   background-color: blue;
   padding: 10px;
   border-radius: 25px;
 }
 #test{
display: none;
}
.begin{
cursor: pointer;
color: salmon;
font-size:25px;
}
}

.start:hover{
text-decoration: underline;
}

.result{
display: none;
color: salmon;
}
  #button {
   background: green;
   border: none;
   border-radius: 7px;
   padding: 10px;
   color: 15px;
   color: white;
   transition-duration: .3s;
}
 #buttonhover{
    background: maroon;
    border: 2px solid grey;
    color: grey;
    cursor: pointer;
}
#image{
    width:auto;
    height: auto;
    float: right;
}
p{
   color: blue;
   font-style: italic;
}
h1{
   color :red;
   font-style: italic;
}
h2{
   color: purple;
}
