body{
   font-family: sans-serif;
   text-align: center;
   border: 3px solid yellow;
   font-size: 20px;
   background: linear-gradient(to right, #0f2027, #203a43, #2c5364);    background-size:cover;
}
#quizboard{
   margin-left: 15px;
   padding: 10px;
   border-radius: 25px;
 }
 #test{
display: none;
}
.begin{
cursor: pointer;
font-size:25px;
}
}

.start:hover{
text-decoration: underline;
}
.jumbotron{
   color: red;
   font-style: oblique;
}

.result{
display: none;
color: salmon;
}
  #button {
   border: none;
   border-radius: 7px;
   padding: 10px;
   color: 15px;
   color: white;
   transition-duration: .3s;
}
 #buttonhover{
    border: 2px solid grey;
    color: grey;
    cursor: pointer;
}
#image{
    width:auto;
    height: auto;
    float: right;
}
p{
   color: blue;
   font-style: italic;
}
h1{
   color :red;
   font-style: italic;
}
h2{
   color: purple;
}
